# Database
*.db
*.sqlite3

# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
virtualenv/
.venv/
venv/

# Uploads (عکس‌های محصولات روی سرور هستن)
static/uploads/

# Logs
*.log
stderr.log

# OS
.DS_Store
Thumbs.db
